  body {
  background-color: $backgroundColor;
  }

  h2 {
    text-align: center;
  }

  [ng-cloak] {
  display: none;
  }

  .sale {
  float: right;
  }

  .addItem {
  text-align: center;
  padding-top: 1%;
  }
