  body {
  background-color: $backgroundColor;
  }

  h2 {
    text-align: center;
  }

  [ng-cloak] {
  display: none;
  }

  .ng-invalid.ng-touched {
      border: 2px solid red;
  }

  .sale {
  float: right;
  }

  .addItem {
  text-align: center;
  padding-top: 1%;
  }

  p {
    text-align: center;
    font-size: 1.5em;
  }

  .user-login {
    text-align: center;
    margin-bottom: 1%;
  }
