table {
    border-spacing: 3rem;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;

      tr:nth-child(odd) {
        background-color: $oddColors;
    }

    th {
        border: 2px solid $borderColor;
    }

    td {
        border: 1px solid $borderColor;
        text-align: center;
    }
}
